=form_for [@salon,@reservation],url: salon_reservation_index_path do |f|
  .gender
    = f.label :メンズorレディース
    %br/
    = f.select :gender, [["メンズ", "メンズ"],["レディーズ","レディース"]], {include_blank: "選択してください"}
  .cut
    = f.label :カット（希望されない場合はカットなしを選択してください）　
    %br/
    = f.select :cut, [["カットなし","カットなし"],["ロング", "ロング"],["ミディアム","ミディアム"],["ショート","ショート"],["ベリーショート","ベリーショート"]], {include_blank: "選択してください"}
  
  .pama
    = f.label :パーマ（希望されない場合はパーマなしを選択してください））
    %br/
    = f.select :pama, [["パーマなし","パーマなし"],["ストレート", "ストレート"],["コールド","コールド"],["デジタル","デジタル"],["クリープ","クリープ"]], {include_blank: "選択してください"}

  .color
    = f.label :カラーリング（希望されない場合はカラーなしを選択してください）
    %br/
    = f.select :color, [["カラーなし","カラーなし"],["白髪染め", "白髪染め"],["ベーシックカラー","ベーシックカラー"],["デザインカラー","デザインカラー"],["リタッチカラー","リタッチカラー"]], {include_blank: "選択してください"}
  
  .reservation-date
    = f.label :予約日（毎月29〜31日は定休日です）
    %br/
    =f.select :month,[["1","1"],["2", "2"],["3","3"],["4","4"],["5","5"],["6","6"],["7", "7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"]] ,{include_blank: "選択してください"}
    月
    =f.select :day,[["1","1"],["2", "2"],["3","3"],["4","4"],["5","5"],["6","6"],["7", "7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"],["13","13"],["14", "14"],["15","15"],["16","16"],["17","17"],["18","18"],["19", "19"],["20","20"],["21","21"],["22","22"],["23","23"],["24","24"],["25","25"],["26","26"],["27", "27"],["28","28"]],{include_blank: "選択してください"}
    日
    =f.select :hour,[["10","10"],["11","11"],["12","12"],["13","13"],["14", "14"],["15","15"],["16","16"],["17","17"],["18","18"],["19", "19"]], {include_blank: "選択してください"}
    時
    =f.select :minute,[["00","00"],["30","30"]],{include_blank: "選択してください"}
    分

  .submit
    =f.submit "予約する"

    


    
